<h2>Cleaning the Master DataFrame</h2>

In [1]:
#import necessary packages and convert csv master file to data frame
import pandas as pd
import numpy as np
master_frame = pd.read_csv('master_dataframe.csv')
master_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22205574 entries, 0 to 22205573
Data columns (total 51 columns):
Unnamed: 0              int64
date                    object
serial_number           object
model                   object
capacity_bytes          float64
failure                 int64
smart_1_normalized      float64
smart_2_normalized      float64
smart_3_normalized      float64
smart_4_normalized      float64
smart_5_normalized      float64
smart_7_normalized      float64
smart_8_normalized      float64
smart_9_normalized      float64
smart_10_normalized     float64
smart_11_normalized     float64
smart_12_normalized     float64
smart_13_normalized     float64
smart_15_normalized     float64
smart_22_normalized     float64
smart_183_normalized    float64
smart_184_normalized    float64
smart_187_normalized    float64
smart_188_normalized    float64
smart_189_normalized    float64
smart_190_normalized    float64
smart_191_normalized    float64
smart_192_normalized    float64
smart_193_normalized    float64
smart_194_normalized    float64
smart_195_normalized    float64
smart_196_normalized    float64
smart_197_normalized    float64
smart_198_normalized    float64
smart_199_normalized    float64
smart_200_normalized    float64
smart_201_normalized    float64
smart_220_normalized    float64
smart_222_normalized    float64
smart_223_normalized    float64
smart_224_normalized    float64
smart_225_normalized    float64
smart_226_normalized    float64
smart_240_normalized    float64
smart_241_normalized    float64
smart_242_normalized    float64
smart_250_normalized    float64
smart_251_normalized    float64
smart_252_normalized    float64
smart_254_normalized    float64
smart_255_normalized    float64
dtypes: float64(46), int64(2), object(3)
memory usage: 8.4+ GB

In [2]:
#find columns with the most Null count
master_frame.isnull().sum()

Unnamed: 0                     0
date                           0
serial_number                  7
model                          0
capacity_bytes                 0
failure                        0
smart_1_normalized          2424
smart_2_normalized      14348031
smart_3_normalized          2424
smart_4_normalized          2424
smart_5_normalized          2424
smart_7_normalized          2424
smart_8_normalized      14348031
smart_9_normalized          2424
smart_10_normalized         2424
smart_11_normalized     21538070
smart_12_normalized         2424
smart_13_normalized     22205574
smart_15_normalized     22205574
smart_22_normalized     22193469
smart_183_normalized    12320721
smart_184_normalized     8313878
smart_187_normalized     8313378
smart_188_normalized     8313378
smart_189_normalized     8313878
smart_190_normalized     8313378
smart_191_normalized     7940696
smart_192_normalized       23548
smart_193_normalized      237641
smart_194_normalized        2424
smart_195_normalized    17367490
smart_196_normalized    13894620
smart_197_normalized        2424
smart_198_normalized        2424
smart_199_normalized        2424
smart_200_normalized    21525070
smart_201_normalized    22205574
smart_220_normalized    22076148
smart_222_normalized    22076148
smart_223_normalized    21862055
smart_224_normalized    22076148
smart_225_normalized    21991481
smart_226_normalized    22076148
smart_240_normalized     8175934
smart_241_normalized     8326858
smart_242_normalized     8326858
smart_250_normalized    22203153
smart_251_normalized    22203153
smart_252_normalized    22203153
smart_254_normalized    22177712
smart_255_normalized    22205574
dtype: int64

Some SMART attributes (13, 15, 201, 255) are equal to NaN for all elements of the master_frame. Therefore, we will remove them from the data frame as they won't affect the prediction of failure for any given drive.

In [3]:
#remove null SMART attributes (13, 15, 201, 255)
columns_to_remove = ['smart_13_normalized','smart_15_normalized','smart_201_normalized','smart_255_normalized']
master_frame.drop(columns_to_remove, inplace=True, axis=1)
master_frame.head(5)

,Unnamed: 0,date,serial_number,model,capacity_bytes,failure,smart_1_normalized,smart_2_normalized,smart_3_normalized,smart_4_normalized,...,smart_224_normalized,smart_225_normalized,smart_226_normalized,smart_240_normalized,smart_241_normalized,smart_242_normalized,smart_250_normalized,smart_251_normalized,smart_252_normalized,smart_254_normalized
0,0,2017-01-01,MJ0351YNG9Z0XA,Hitachi HDS5C3030ALA630,3.000593e+12,0,100.0,135.0,127.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2017-01-01,MJ0351YNG9WJSA,Hitachi HDS5C3030ALA630,3.000593e+12,0,100.0,136.0,126.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2017-01-01,PL1321LAG34XWH,Hitachi HDS5C4040ALE630,4.000787e+12,0,100.0,134.0,130.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2017-01-01,MJ0351YNGABYAA,Hitachi HDS5C3030ALA630,3.000593e+12,0,100.0,136.0,137.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2017-01-01,Z305B2QN,ST4000DM000,4.000787e+12,0,113.0,NaN,91.0,100.0,...,NaN,NaN,NaN,100.0,100.0,100.0,NaN,NaN,NaN,NaN

Null values in the serial_number column can become a problem as there is no indication to which drives the smart measurements belong. Therefore, we have to inspect the serial_number columns with null values.

In [4]:
#inspect the null serial_number columns
master_frame[master_frame.serial_number.isnull()]

,Unnamed: 0,date,serial_number,model,capacity_bytes,failure,smart_1_normalized,smart_2_normalized,smart_3_normalized,smart_4_normalized,...,smart_224_normalized,smart_225_normalized,smart_226_normalized,smart_240_normalized,smart_241_normalized,smart_242_normalized,smart_250_normalized,smart_251_normalized,smart_252_normalized,smart_254_normalized
7560035,7560035,2017-04-12,NaN,00MD00,4.000787e+12,0,118.0,NaN,97.0,100.0,...,NaN,NaN,NaN,100.0,100.0,100.0,NaN,NaN,NaN,NaN
7644230,7644230,2017-04-13,NaN,00MD00,4.000787e+12,0,119.0,NaN,97.0,100.0,...,NaN,NaN,NaN,100.0,100.0,100.0,NaN,NaN,NaN,NaN
7728425,7728425,2017-04-14,NaN,00MD00,4.000787e+12,0,114.0,NaN,97.0,100.0,...,NaN,NaN,NaN,100.0,100.0,100.0,NaN,NaN,NaN,NaN
7812620,7812620,2017-04-15,NaN,00MD00,4.000787e+12,0,118.0,NaN,97.0,100.0,...,NaN,NaN,NaN,100.0,100.0,100.0,NaN,NaN,NaN,NaN
7896675,7896675,2017-04-16,NaN,00MD00,4.000787e+12,0,117.0,NaN,97.0,100.0,...,NaN,NaN,NaN,100.0,100.0,100.0,NaN,NaN,NaN,NaN
7980731,7980731,2017-04-17,NaN,00MD00,4.000787e+12,0,116.0,NaN,97.0,100.0,...,NaN,NaN,NaN,100.0,100.0,100.0,NaN,NaN,NaN,NaN
8064742,8064742,2017-04-18,NaN,00MD00,4.000787e+12,0,118.0,NaN,97.0,100.0,...,NaN,NaN,NaN,100.0,100.0,100.0,NaN,NaN,NaN,NaN

It is quite evident that all null serial numbers belong to the same designated drive model (00MD00). After researching this model, it became apparent that this model drive simply does not exist. This might be explaned by inconsistency of some drives which provided incorrect measurements on certain days. Taking into account the sample size of the data set, we can drop the missing values.

In [5]:
master_frame = master_frame.dropna(subset=['serial_number'])

In [6]:
master_frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22205567 entries, 0 to 22205573
Data columns (total 47 columns):
Unnamed: 0              int64
date                    object
serial_number           object
model                   object
capacity_bytes          float64
failure                 int64
smart_1_normalized      float64
smart_2_normalized      float64
smart_3_normalized      float64
smart_4_normalized      float64
smart_5_normalized      float64
smart_7_normalized      float64
smart_8_normalized      float64
smart_9_normalized      float64
smart_10_normalized     float64
smart_11_normalized     float64
smart_12_normalized     float64
smart_22_normalized     float64
smart_183_normalized    float64
smart_184_normalized    float64
smart_187_normalized    float64
smart_188_normalized    float64
smart_189_normalized    float64
smart_190_normalized    float64
smart_191_normalized    float64
smart_192_normalized    float64
smart_193_normalized    float64
smart_194_normalized    float64
smart_195_normalized    float64
smart_196_normalized    float64
smart_197_normalized    float64
smart_198_normalized    float64
smart_199_normalized    float64
smart_200_normalized    float64
smart_220_normalized    float64
smart_222_normalized    float64
smart_223_normalized    float64
smart_224_normalized    float64
smart_225_normalized    float64
smart_226_normalized    float64
smart_240_normalized    float64
smart_241_normalized    float64
smart_242_normalized    float64
smart_250_normalized    float64
smart_251_normalized    float64
smart_252_normalized    float64
smart_254_normalized    float64
dtypes: float64(42), int64(2), object(3)
memory usage: 7.9+ GB

In [7]:
master_frame.loc[:,'capacity_bytes'] *= pow(10,(-12))

In [8]:
master_frame.head(10)

,Unnamed: 0,date,serial_number,model,capacity_bytes,failure,smart_1_normalized,smart_2_normalized,smart_3_normalized,smart_4_normalized,...,smart_224_normalized,smart_225_normalized,smart_226_normalized,smart_240_normalized,smart_241_normalized,smart_242_normalized,smart_250_normalized,smart_251_normalized,smart_252_normalized,smart_254_normalized
0,0,2017-01-01,MJ0351YNG9Z0XA,Hitachi HDS5C3030ALA630,3.000593,0,100.0,135.0,127.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2017-01-01,MJ0351YNG9WJSA,Hitachi HDS5C3030ALA630,3.000593,0,100.0,136.0,126.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2017-01-01,PL1321LAG34XWH,Hitachi HDS5C4040ALE630,4.000787,0,100.0,134.0,130.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2017-01-01,MJ0351YNGABYAA,Hitachi HDS5C3030ALA630,3.000593,0,100.0,136.0,137.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2017-01-01,Z305B2QN,ST4000DM000,4.000787,0,113.0,NaN,91.0,100.0,...,NaN,NaN,NaN,100.0,100.0,100.0,NaN,NaN,NaN,NaN
5,5,2017-01-01,PL2331LAGN2YTJ,HGST HMS5C4040BLE640,4.000787,0,100.0,133.0,100.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,2017-01-01,WD-WMC4N2899475,WDC WD30EFRX,3.000593,0,200.0,NaN,175.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,2017-01-01,Z302A0YH,ST4000DM000,4.000787,0,114.0,NaN,92.0,100.0,...,NaN,NaN,NaN,100.0,100.0,100.0,NaN,NaN,NaN,NaN
8,8,2017-01-01,Z305BT0W,ST4000DM000,4.000787,0,112.0,NaN,93.0,100.0,...,NaN,NaN,NaN,100.0,100.0,100.0,NaN,NaN,NaN,NaN
9,9,2017-01-01,ZA130TTW,ST8000DM002,8.001563,0,83.0,NaN,98.0,100.0,...,NaN,NaN,NaN,100.0,100.0,100.0,NaN,NaN,NaN,NaN